.container {
  height: 4rem;
  background-color: var(--cultured);
  margin-bottom: 1rem;
  -webkit-box-shadow: -15px 10px 13px -9px rgba(199,199,199,1);
  -moz-box-shadow: -15px 10px 13px -9px rgba(199,199,199,1);
  box-shadow: -15px 10px 13px -9px rgba(199,199,199,1);
}

.background {
  display: grid;
  grid-template-columns: 1fr 4fr auto;
  height: 100%;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: preloadAnimation;
  animation-timing-function: linear;
  background: var(--cultured);
  background: linear-gradient(to right, var(--cultured) 8%, #dddddd 18%, #eeeeee 33%);
}

@keyframes preloadAnimation{
  0%{
      background-position: -769px 0
  }
  100%{
      background-position: 769px 0
  }
}