.TodoItem {
  display: grid;
  min-height: 4rem;
  grid-template-columns: 1fr 4fr auto;
  background-color: var(--cultured);
  margin-bottom: 1rem;
  overflow: hidden;
  -webkit-box-shadow: -15px 10px 13px -9px rgba(199,199,199,1);
  -moz-box-shadow: -15px 10px 13px -9px rgba(199,199,199,1);
  box-shadow: -15px 10px 13px -9px rgba(199,199,199,1);
}

.TodoItem p {
  word-break: break-all;
  align-self: center;
}

span.Icon-check {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(128, 128, 128, 0.295);
}

span.Icon-check--active {
  color: var(--tiffany-blue);
}

.TodoItem-p--complete {
  text-decoration: line-through;
}

span.Icon-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 50%;
  cursor: pointer;
  margin-top: 0.5rem;
  margin-right: 0.7rem;
  color: var(--rich-black--figra);
}

span.Icon-delete:hover {
  color: var(--radical-red);
  background-color: #d3d3d39d;
}