.TodoList-container {
  margin-top: 1.5rem;
  height: 66vh;
  overflow-y: scroll;
  padding: 1rem;
}

.TodoList-container::-webkit-scrollbar {
  width: 0.5rem;
}

.TodoList-container::-webkit-scrollbar-track {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.TodoList-container::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 10px;
}

ul {
  margin: 2rem 0;
  padding: 0 0 56px 0;
  list-style: none;
}