.TodoForm {
  background-color: var(--cultured);
  width: 30rem;
  min-height: 18rem;
  border-radius: 10px;
}

.TodoForm form {
  padding: 2rem;
  display: grid;
  grid-template-rows: 3;
}

.TodoForm form label {
  margin-bottom: 2rem;
  color: var(--rich-black--figra);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
}

.TodoForm form textarea {
  border: 2px solid rgb(179, 179, 179);
  border-radius: 5px;
  height: 4rem;
  resize: vertical;
  margin-bottom: 1.5rem;
}

.TodoForm textarea:focus {
  border-color: var(--tiffany-blue);
  outline: 3px solid transparent;
}

.buttons {
  padding: 0 2rem;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.buttons button {
  height: 2rem;
  border-radius: 10px;
  border-color: transparent;
  cursor: pointer;
}

.submitButton {
  background-color: var(--radical-red);
  color: var(--cultured);
  font-weight: 400;
}

.submitButton:hover {
  background-color: #d45373;
}

.cancelButton:hover {
  background-color: #b3b3b3;
}