.searchbar {
  margin-top: 1rem;
  display: flex;
  vertical-align: middle;
}

.searchIcon-container {
  width: 2rem;
  padding: 0.6rem;
  background-color: var(--radical-red);
  border-radius: 50%;
  text-align: center;
  color: var(--cultured);
  margin-left: -2rem;
  cursor: pointer;
}

.searchIcon-container:hover {
  background-color: #cf1e4a;
}

svg {
  font-size: 1.3rem;
}

.TodoSearch {
  width: 100%;
  height: 2.5rem;
  border: 1px solid var(--cultured);
  border-radius: 1;
  border-radius: 10px;
  padding-left: 1rem
}

.TodoSearch:disabled, .TodoCounter--loading {
  opacity: 25%;
}

.TodoSearch:focus {
  outline-color: var(--cultured);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}